// =============================================================================
// ANIMATIONS
// =============================================================================

// VARIABLES
// -----------------------------------------------------------------------------

$duration: .3s;
// $easing-bounce: cubic-bezier(0.3, 0, 0, 1);
$easing-bounce: cubic-bezier(0.510, 0.405, 0.000, 1.210);
$easing-spring: cubic-bezier(0.7, 1.5, 0, 0);

// GROW
// -----------------------------------------------------------------------------

@keyframes grow {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}


// FLOAT
// -----------------------------------------------------------------------------

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(15px); }
  100% { transform: translateY(0); }
}


@keyframes bounce {
  0% { transform: translateY(1em) scale(1); }
  100% { transform: translateY(-2em) scale(1.05); }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-in-up {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0px); }
}

@keyframes fade-in-down {
  0% { opacity: 0; transform: translateY(-60px); }
  100% { opacity: 1; transform: translateY(0px); }
}
